@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.btnSubmit {
  display: inline-block;
  border: none;
  background: #6E7277;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btnSubmit:hover {
  background: #7E8286;
}

.list-padded {
  margin: 6px 0px 6px 12px;
  padding: 6px 0;
}

.list-item-padded {
  line-height: 1.8em;
  margin-bottom: 3px;
  background: #f8f8f8;
  border-bottom: 1px #BBB dotted;
}

.center-image {
  text-align: center;
}

.displayNone {
  display: none;
}